<li id="insertEmbedMedia">
  <a data-l10n-id="ep_embedmedia.embed" data-l10n-attr="title" title="Embed Media">
    <button class="buttonicon buttonicon-align-left buttonicon-embed-media" data-align="0" aria-label="Embed Media" data-l10n-id="ep_embedmedia.embed" data-l10n-attr="aria-label"></button>
  </a>
</li>
