<li id="insertEmbedMedia" data-type="button" data-key="embedMedia">
  <a class="buttonicon buttonicon-align-left buttonicon-embed-media"
     role="button" tabindex="0"
     data-align="0"
     data-l10n-id="ep_embedmedia.embed"
     title="Embed Media"></a>
</li>
